<header>
  <div class="container-fluid">
    <div class="logo">
      <a href="<%= root_path %>"><img src="<%= image_path('crown.png') %>" id="crown"/></a>
    </div>
    <%= render 'frontend/header/locale.html.erb' %>
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>
</header>