<div id="overlay" class="show">
  <img src="<%= image_path('burgerking.png') %>">
  <div id="svg-progress"></div>
</div>
<%= render 'frontend/menu/menu.html.erb' %>
<div class="site-content">
  <%= render 'frontend/header/header.html.erb' %>
  <div class="content">
    <div class="container app-container" id="interact-layout">
        <div class="row">
            <div id="burger-container"></div>
        </div>
    </div>
    <%= render 'frontend/menu/menu_right.html.erb' %>
  </div>
  <%= render 'frontend/footer/footer.html.erb' %>
</div>