<div id="overlay" class="show">
  <img src="<%= image_path('burgerking.png') %>">
  <div id="svg-progress"></div>
</div>
<div class="site-content">
  <%= render 'frontend/header/header.html.erb' %>
  <div class="content container-fluid">
    <%= render 'frontend/index/page/menu/menu.html.erb' %>
    <div class="main">
      <%= render 'frontend/index/page/burger.html.erb' %>
      <%= render 'frontend/index/page/result.html.erb' %>
    </div>
    <%= render 'frontend/index/page/menu/menu_right.html.erb' %>
  </div>
  <%= render 'frontend/footer/footer.html.erb' %>
</div>